@import "tailwindcss";
@plugin "daisyui"{
  themes: light --default, dark --prefersdark;
    root: ":root";
    include: ;
    exclude: ;
    prefix: ;
    logs: true;
}

@theme{
  --color-regal-blue: #E5F9DB;
}

/* body {
  background-color: #E5F9DB;
  
} */
