@import "tailwindcss";
@plugin "daisyui"{
  themes: light --default, dark --prefersdark;
    root: ":root";
    include: ;
    exclude: ;
    prefix: ;
    logs: true;
}

@theme{
  --color-regal-blue: #E5F9DB;
}

/* body {
  background-color: #E5F9DB;
  
} */
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}
